{
  "type": "postgres",
  "host": "localhost",
  "port": "5432",
  "username": "postgres",
  "password": "password",
  "database": "template_typescript",
  "entities": [
    "src/entities/**/*.ts"
  ],
  "migrations": [
      "src/database/migrations/**/*.ts"
  ],
  "cli": {
      "migrationsDir": "src/database/migrations"
  }
}
